[api]
api_key = "ong0noo7ichoe>H5ahh7"

[database]

    [database.postgres]
    uri = "postgresql://pservice:1234@localhost:5432/proxy_service"
    pool_min = 10
    pool_max = 50

    [database.redis]
    uri = "redis://localhost:9189"
    pool_min = 10
    pool_max = 50

[pool]
length = 25
