[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
ipython = "*"

[requires]
python_version = "3.7"

[packages]
aioredis = "*"
asyncpg = "*"
toml = "*"
requests = "*"
passlib = "*"
itsdangerous = "*"

[packages.aiohttp]
extras = [ "speedups",]

[packages.asyncpg-connect]
git = "https://github.com/merfrei/asyncpg-connect.git"
editable = true
